<% provide(:title, 'Group Details') %>

<ul class="card mx-3 list-group list-group-flush p-3">
  <li class="list-group-item p-0 d-flex justify-content-between">
    <h4 class="mt-2 mb-4"><%= @group.name %></h4>
    <img src="<%= @group.icon %>" alt="" class="grp-img mb-2 border border-warning rounded">
  </li>

  <li class="list-group-item p-0 pt-3">
    <%= render @transactions %>
  </li>

  <li class="list-group-item d-flex justify-content-between p-0 pt-3">
    <p class="m-0">TOTAL AMOUNT</p>
    <span class="font-weight-bold">$<%= number_with_precision(@transactions.sum(:amount), :precision => 2) %></span>
  </li>
</ul>

<%= link_to new_group_path, class: "link-btn btn
                  btn-success w-100 p-4 rounded-0" do %>
  <span class="p-3 border border-light">NEW GROUP</span>
<% end %>