<!DOCTYPE html>
<html>
  <head>
    <title>MVGOT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container" id="main_container">
      <%# to not show the navbar in the home page %>
      <% if yield(:title) != 'Home' %>
        <%= render  "layouts/header" %>
      <% end %>

      <% unless controller_name == 'users' && action_name == 'show' %>
        <div class="container px-0 pt-3 overflow-auto" id="subcontainer">
      <% else %>
        <div class="container px-0 overflow-auto" id="subcontainer">
      <% end %>

        <%= yield %>

        <% flash.each do |m_type, msg| %>
          <div class="alert alert-<%= m_type %> w-75 mx-auto text-center mt-3">
            <%= msg %>
          </div>
        <% end %>
      
      </div>
    </div>
    <% unless current_user.nil? %>
      <%= link_to  "Logout", logout_url, method: :delete, class: "btn btn-warning" %>
    <% end %>
  </body>
</html>
